html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  min-width: 20rem;
}

body {
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.logo-name {
  display: flex;
  max-width: 10rem;
  margin: 1.2rem 1.2rem;
  align-items: center;
  font-weight: 900;
  font-size: 1.1rem;
}

.navbar__flex {
  display: none;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
}

.navbar__link {
  text-decoration: none;
  color: black;
  margin: 1.2rem 1.5rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-weight: 300;
  text-align: center;
}

.main-photo {
  width: 10rem;
  border-radius: 50%;
}

.icon {
  width: 2rem;
  margin: 0.3rem;
}

/* about me section */

.about-me-container {
  padding: 3rem 2rem 0;
}

.about-me-header,
.projects-header {
  text-align: center;
}

.about-me-text {
  text-align: justify;
  line-height: 1.7rem;
}

.about-me-photos-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 320px;
}

.about-me-photo {
  max-width: 320px;
  margin-bottom: 2rem;
  align-self: flex-start;
}

/* Projects section */

.projects-container {
  padding: 3rem 2rem 0;
}

.project-name {
  font-weight: 200;
  font-size: 1rem;
}

.project-demo {
  max-width: 320px;
}

.project-link {
  text-decoration:underline;
  color: black;
}


#particles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  z-index: -1;
}

@media (min-width: 375px) {
  .about-me-photos-container {
    max-width: 375px;
}

.about-me-photo {
  max-width: 375px;
}

@media (min-width: 768px) {
  .navbar__flex {
    display: flex;
  }

  .about-me-container {
    max-width: 720px;
    margin: 0 auto;
  }

  .about-me-photos-container {
    max-width: 720px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
  .about-me-photo {
    max-width: 350px;
    
  }
}


@media (min-width: 992px) {

}
