html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  min-width: 20rem;
}

body {
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.logo-name {
  display: flex;
  max-width: 10rem;
  margin: 1.2rem 1.2rem;
  align-items: center;
  font-weight: 900;
  font-size: 1.1rem;
}

.nav-btn {
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: none;

  background-color: transparent;
  filter: invert(100%);
  background-image: url('./img/menu.png');
  background-size: contain;

  cursor: pointer;
}

.accessible-text {
  display: none;
}

.navbar__flex-container {
  position: absolute;
  right: 0;
  top: 3.2rem;
  background-color: white;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 100px 80px rgba(0, 0, 0, 0.07);
  padding: 0 1rem;
  border-radius: 4px;
}

.closed {
  display: none;
}

.navbar__flex {
  list-style-type: none;
  padding: 0;
}

.navbar__list {
  padding-bottom: 1rem;
}

.navbar__list:last-child {
  padding-bottom: 0;
}

.navbar__link {
  text-decoration: none;
  color: black;
}

.navbar__link:hover {
  text-decoration: underline;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-weight: 300;
  text-align: center;
}

.heading {
  margin: 2rem 0 0;
}

.main-photo {
  width: 10rem;
  border-radius: 50%;
}

.icon {
  width: 2rem;
  margin: 0.3rem;
}

/* about me section */

.about-me-container {
  padding: 3rem 2rem 0;
}

.about-me-header,
.projects-header {
  text-align: center;
}

.about-me-text {
  text-align: justify;
  line-height: 1.7rem;
}

.about-me-photos-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 320px;
}

.about-me-photo {
  width: 100%;
  margin-bottom: 2rem;
  align-self: flex-start;
}

/* Projects section */

.projects-container {
  padding: 3rem 2rem 0;
}

.project-name {
  font-weight: 200;
  font-size: 1.5rem;
}

.project-description {
  line-height: 1.7rem;
  text-align: justify;
}

.project-demo {
  width: 100%;
  padding: 1rem 0;
}

.project-link {
  text-decoration: none;
  color: gray;
  margin-right: 2rem;
}

.project-link:hover {
  text-decoration: underline;
  color: black;
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/* Responsive */

@media (min-width: 375px) {
  .about-me-photos-container,
  .about-me-photo {
    max-width: 375px;
  }
}

@media (min-width: 768px) {
  .navbar__flex {
    display: flex;
  }

  .about-me-container,
  .single-project {
    max-width: 720px;
    margin: 0 auto;
  }

  .about-me-photos-container {
    max-width: 720px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .about-me-photo {
    max-width: 350px;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
  }

  .nav-btn {
    display: none;
  }

  .navbar__flex-container {
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: unset;
    box-shadow: none;
  }

  .navbar__list {
    padding-bottom: 0;
    margin-right: 2rem;
  }
}
